* {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    text-decoration: none;
    font-family: Arial, sans-serif;
  }
  
  nav {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
  }
  
  .nav-brand {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 24px;
    font-weight: 750;
    color: #2ecc71;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .login{
    text-align: center;
    background-color: #2ecc71;
    padding: 10px 20px;
    color: white;
    font-size: 12px;
    font-weight: 750;
    cursor: pointer;
    float: right;
    margin-top: 35px;
    margin-right: 20px;
  }
  .nav-link{
    background-color: #fff;
    float: right;
    margin-top: 45px;
    margin-right: 35px;
  }
  
  footer{
    text-align: center;
    padding: 20px;
    background-color: #2ecc71;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }