.page-container {
  max-width: 1080px;
  margin: auto;
}

/*navigate*/
.topnav {
  overflow: hidden;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: #000;
}

.topnav .nav-brand {
  top: 10px;
  font-size: 24px;
  font-weight: 750;
  color: #2ecc71;
  margin: 20px auto;
  background-color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

.topnav .login{
  text-align: center;
  background-color: #2ecc71;
  padding: 10px 20px;
  color: white;
  font-size: 12px;
  font-weight: 750;
  cursor: pointer;
  float: right;
  margin-top: 35px;
  margin-right: 20px;
  border: none;
  border-radius: 10px
}

.topnav .nav-link{
  background-color: #fff;
  float: right;
  margin-top: 45px;
  margin-right: 35px;
  text-decoration: none;
  color: #000;
}


/*----------------------*/

.product-container {
  display: flex;
  padding: 20px;
  background-color: white;
  margin: 20px;
}
.product-image {
  flex-basis: 50%;
  padding: 10px;
  background-color: #cccccc;
  width: 100px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888888;
  margin-right: 10px;
}
.product-details {
  flex-basis: 50%;
  padding: 10px;
}
.product-price {
  font-size: 24px;
  color: black;
  margin: 10px 0;
}
.product-description {
  margin: 10px 0;
}
.product-stock {
  margin-bottom: 3px;
  color: #000000;
}
.quantity-selector {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.quantity-selector input {
  width: 50px;
  margin: 0 10px;
  text-align: center;
}
.buy-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.footer {
  background-color: #A3D27C;
  padding: 10px;
  text-align: center;
  color: rgb(10, 10, 10);
  position: fixed;
  bottom: 0;
  width: 100%;
}
