* {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  text-decoration: none;
  font-family: Arial, sans-serif;
}
/*----------------------*/

/*navigate*/
.topnav {
  overflow: hidden;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: #000;
}

.topnav .nav-brand {
  top: 10px;
  font-size: 24px;
  font-weight: 750;
  color: #2ecc71;
  margin: 20px auto;
  background-color: #fff;
  margin-left: 20px;
}

.topnav .login{
  text-align: center;
  background-color: #2ecc71;
  padding: 10px 20px;
  color: white;
  font-size: 12px;
  font-weight: 750;
  cursor: pointer;
  float: right;
  margin-top: 35px;
  margin-right: 20px;
  border: none;
  border-radius: 10px
}

.topnav .nav-link{
  background-color: #fff;
  float: right;
  margin-top: 45px;
  margin-right: 35px;
}


/*----------------------*/

/*body*/
.wbr{
  font-size: 24px;
  font-weight: 750;
  color: #2ecc71;
  margin: 20px auto;
  background-color: #fff;
  text-align: center; /* Center align the text */
  padding: 10px; /* Add padding for better spacing */
}
body {
  overflow-y: scroll;
}
div{
  display: block;
  unicode-bidi: isolate;
}
div .container {
  display: block;
  max-width: 1080px;
  margin: auto;
  
}
/*----------------------*/

/*search in home page*/
.Search_home{
  width: 100%;
  height: 100px;
  background-color: #A3D27C;
  display: block;
  position: relative;
}

.Search_home .search_bar{
  width: 50%;
  height: 35px;
  background-color: #ffffff;
  display: flex;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.Search_home .material-icons{
  color: #426B1F;
  background-color: #fff;
  height: 100%;
  font-size: 35px;
}

.Search_home input[type=text]{
  width: 95%;
  height: 100%;
  border: 5px solid #fff;
  text-align: left;
  background-color: #fff;
  margin-left: 0;
} 

.Search_home button{
  text-align: center;
  background-color: #2ecc71;
  padding: 5px 5%;
  color: white;
  font-size: 12px;
  cursor: pointer;
  border: white;
  margin-right: auto;
}
/*----------------------*/

/*banner*/
.home_ads{
  width: 1080px;
  background-color: #f5f5f5;
  margin: auto;
  display: flex;
  height: 610px;
}

.home_ads_content{
  width: 1080px;
  height: 600px;
  margin-bottom: auto;
  background-color: #d9d9d9;
}

#ad1{
  width: 1080px;
  height: 600px;
}

/*----------------------*/

/*Category*/
.Home_Category{
  display: flex;
  height: 200px;  
}

.Home_Category_content{
  width: 1080px;
  height: 200px;
  display: block;
}

.Home_Category_text{
  color: #426B1F;
  font-size: 24px;
  font-weight: 750;
  height: 40px;
}
.Category_pic{
  display: flex;
  height: 150px;
  background-color: #f5f5f5;
}

.Category_pic > div{
  width: 108px;
  height: 100px;
  background-color: #d9d9d9;
  margin-left: 0;
  margin-right: auto;
  display: flex;
  flex-shrink: 1;
}

.Category-image_item-list{
  display: flex;
  position: relative;
  list-style-type: none;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-between;


  list-style-type: none;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
  unicode-bidi: isolate;
}

.Category-image_item{
  min-width: 150px;
  overflow-x: hidden;
  list-style: none;
  float: left;
}

.Image-Carousel-item{
  width: 150px;
  height: 150px;
}

.Image-Carousel-item-containner{
  width: 150px;
  height: 150px;
  flex-direction: column;
  
}

.Image-product{
  width: 300px;
  height: 200px;
}

#sug{
  width: 280px;
  height: 180px;
}

.text-product{
  width: 300px;
  height: 100px;
}

.Image-Carousel-item-scr{
  width: 150px;
  height: 125px;
  text-align: center;
}

.Image-Carousel-item-scr-image{
  width: 140px;
  height: 125px;
}

.Carousel-item-text{
  width: 150px;
  height: 25px;
  font-size: 15px;
  text-align: center;
}

.Category-right-bg{
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  box-shadow: 0 1px 12px 0 rgba(0,0,0,.12);
  position: relative;
  top: -140px;
  left: 1040px;
  opacity: 0;

}

.Category-left-bg{
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  box-shadow: 0 1px 12px 0 rgba(0,0,0,.12);
  position: relative;
  top: -100px;
  right: 0px;
  opacity: 0;
}

/*Arrow*/
.ca-right{
  height: 10px;
  width: 10px;
  border: solid #426B1F;
  border-width: 0 3px 3px 0;
  padding: auto;
  display: inline-block;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right: auto;
  cursor: pointer;
  margin: 15px auto;
  justify-content: center;
  opacity: 0;
}

.ca-left{
  cursor: pointer;
  height: 10px;
  width: 10px;
  border: solid #426B1F;
  border-width: 0 3px 3px 0;
  display: inline-block;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin: 15px auto;
  justify-content: center;
  opacity: 0;
}

.re-right{
  cursor: pointer;
  height: 10px;
  width: 10px;
  border: solid #426B1F;
  border-width: 0 3px 3px 0;
  display: inline-block;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 15px auto;
  justify-content: center;
  opacity: 0;
}

.re-left{
  cursor: pointer;
  height: 10px;
  width: 10px;
  border: solid #426B1F;
  border-width: 0 3px 3px 0;
  display: inline-block;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin: 15px auto;
  justify-content: center;
  opacity: 0;
}

/*----------------------*/

/*Recommend*/
.Home_Recommend{
  display: flex;
  height: 400px;  
}

.Home_Recommend_content{
  width: 1080px;
  display: block;
}

.Home_Recommend_text{
  color: #426B1F;
  font-size: 24px;
  font-weight: 750;
  height: 37.5px;
}
.Recommend_pic{
  display: flex;
  height: 300px;
}

.Recommend_pic > div{
  width: 108px;
  height: 300px;
  background-color: #d9d9d9;
  margin-left: 0;
  margin-right: auto;
  display: flex;
  flex-shrink: 1;
}

.Recommend-image_item-list{
  display: flex;
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;

  list-style-type: none;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
  unicode-bidi: isolate;
}

.Recommend-image_item{
  min-width: 300px;
  overflow-x: hidden;
  list-style: none;
  float: left;
}

.Recommend-right-bg{
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  box-shadow: 0 1px 12px 0 rgba(0,0,0,.12);
  position: relative;
  top: -210px;
  left: 1040px;

}

.Recommend-left-bg{
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  box-shadow: 0 1px 12px 0 rgba(0,0,0,.12);
  position: relative;
  top: -170px;
  right: 0px;
}

/*----------------------*/

/*footer*/
footer{
  text-align: center;
  background-color: #2ecc71;
  padding: 20px;
  color: #fff;
}
/*----------------------*/