.container {
    background-color: #AEF359;
    padding: 300px;
    gap: 10px;
    margin-left: 300px;
    margin-right: 300px;
    
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
}

.content {
    background-color: white;
    padding: 50px;
    width: 100%; /* Set width to 100% */
    max-width: 400px; /* Limit max width */
    margin-top: 20px; /* Add margin */
}


.login-box {
    border-radius: 10px;
    text-align: center;
}

.login-box h2 {
  
    margin-bottom: 20px;
}

.input-group {
    border-radius: 15px;
    padding: 15px;
    text-align: left;
    margin: 10px;
    background-color: white;
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
}

.input-group label {
    margin-bottom: 0; /* Remove margin bottom */
}

.input-group label.input-label {
    color: green; /* Change text color to green */
}

.input-group label span {
    display: inline-block;
    padding: 5px;
    background-color: white; /* Set background color */
    border-radius: 20px; /* Round edges */
    margin-right: 5px; /* Add margin between label and input */
}



.input-group input {
    flex: 1; /* Expand input to take remaining space */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.button-group {
    display: flex; /* Use flexbox for button alignment */
    justify-content: space-between; /* Space buttons evenly */
}

button, .register-link {
    flex: 1; /* Distribute available space evenly */
    margin: 0 5px; /* Add margin between buttons */
    padding: 10px;
    background-color: #99EDC3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
button:hover, .register-link:hover {
    background-color: #45a049;
}
