.page-container {
  max-width: 1080px;
  margin: auto;
}

body {
  font-family: Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  text-decoration: none;
}

/*navigate*/
.topnav {
  overflow: hidden;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: #000;
}

.topnav .nav-brand {
  top: 10px;
  font-size: 24px;
  font-weight: 750;
  color: #2ecc71;
  margin: 20px auto;
  background-color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

.topnav .login{
  text-align: center;
  background-color: #2ecc71;
  padding: 10px 20px;
  color: white;
  font-size: 12px;
  font-weight: 750;
  cursor: pointer;
  float: right;
  margin-top: 35px;
  margin-right: 20px;
  border: none;
  border-radius: 10px
}

.topnav .nav-link{
  background-color: #fff;
  float: right;
  margin-top: 45px;
  margin-right: 35px;
  text-decoration: none;
  color: #000;
}


/*----------------------*/

h1 {
  text-align: left;
  color: #000000;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 1080px;
  padding: 10px;
  margin: auto;
  background-color: #B2CE95;
}

.search-container h1 {
  background-color: #B2CE95;
  text-align: left;
}

.search-container form {
  color: #fff;
  display: grid;
  background-color: #B2CE95;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 5px;
  background-color: #5A7D3B;
  padding: 12px;
}

input[type="text"], select, button {
  padding: 10px;
  background-color: #D9D9D9;
  margin-bottom: 20px;
}

button[type="submit"], button[type="reset"] {
  color: white;
  border: none;
}

button[type="submit"] {
  background-color: #426B1F;
}

button[type="clear"] {
  background-color: #757575;
}

.button-container {
  text-align: right;
}

ul{
  width: 1080px;
  margin: auto;
  height: 20; 
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #2ecc71;
  color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
