
/*navigate*/
.topnav {
  overflow: hidden;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: #000;
}

.topnav .nav-brand {
  top: 10px;
  font-size: 24px;
  font-weight: 750;
  color: #2ecc71;
  margin: 20px auto;
  background-color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

.topnav .login{
  text-align: center;
  background-color: #2ecc71;
  padding: 10px 20px;
  color: white;
  font-size: 12px;
  font-weight: 750;
  cursor: pointer;
  float: right;
  margin-top: 35px;
  margin-right: 20px;
  border: none;
  border-radius: 10px
}

.topnav .nav-link{
  background-color: #fff;
  float: right;
  margin-top: 45px;
  margin-right: 35px;
  text-decoration: none;
  color: #000;
}


/*----------------------*/

body {
  overflow-y: scroll;
  background-color: #f9f9f9;
}
.page-container {
  max-width: 1080px;
  margin: auto;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
}

.header {
  width: 1080px;
  margin: auto;
  background-color: #A3D27C;
  padding: 10px;
  text-align: center;
  color: black;
}

.grid-container {
  align-items: center;
  width: 600px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  padding: 0px;
}

.grid-item {
  width: 80px;
  text-align: center;
  align-items: center;
  padding: 50px;
  font-size: 20px;
}

.footer {
  background-color: #A3D27C;
  padding: 10px;
  text-align: center;
  color: rgb(10, 10, 10);
  position: fixed;
  bottom: 0;
  left: 0; /* Ensure footer aligns properly */
  right: 0; /* Ensure footer aligns properly */
}
